<div class="navbar-wagon">
  <!-- Language flags -->
  <div>
    <a href='/en/<%= "#{current_page.path.split('/')[1]}" %>' class="language-flag">
      <%= image_tag 'United-Kingdom-icon.png' %>
    </a>
    /
    <a href='/nl/<%= "#{current_page.path.split('/')[1]}" %>' class="language-flag">
      <%= image_tag 'Netherlands-icon.png' %>
    </a>
    /
    <a href='/fr/<%= "#{current_page.path.split('/')[1]}" %>' class="language-flag">
      <%= image_tag 'France-icon.png' %>
    </a>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <% link_to "/index.html", class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t(:home) %>
    <% end %>
    <% link_to "/thehouse.html", class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t(:house) %>
    <% end %>
    <% link_to "/lacolle.html", class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t(:LaColle) %>
    <% end %>
    <% link_to "/contact.html", class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t(:contact) %>
    <% end %>
    <% link_to "/gallery.html", class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t(:gallery) %>
    <% end %>
    <% link_to "/surroundings.html", class: "navbar-wagon-item navbar-wagon-link" do %>
      <%= t(:surroundings) %>
    <% end %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#"><%= t(:home) %></a></li>
        <li><a href="#"><%= t(:house) %></a></li>
        <li><a href="#"><%= t(:LaColle) %></a></li>
        <li><a href="#"><%= t(:contact) %></a></li>
        <li><a href="#"><%= t(:gallery) %></a></li>
        <li><a href="#"><%= t(:surroundings) %></a></li>
      </ul>
    </div>
  </div>
</div>
